body {
    color: #fff;
    
}

.choice-container {
    display: flex;
    margin-bottom: 0.4em;
    width: 100%;
    border-radius: 4px;
    background: rgba(3, 169, 244, 0.8);
    font-size: 1.5em;
    min-width: 30em;
    border: 2px solid #fff;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-letter {
    padding: 1em 1.5em;
    color: #fff;
}

.choice-text {
    padding: 1em;
    width: 100%;
}

h3 {
    justify-content: center;
    margin-bottom: .5em;
    font-size: 2em;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224,11,1) 100%);
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hud-item {
    padding: 1em;
}

.hud-prefix {
    font-size: 2em;
}

.question-count {
    text-align: center;
    font-size: 2em;
    z-index: 999;
}

.hud-main-text {
    text-align: center;
    font-size: 2em;
}

#progressBar {
    width: 7em;
    height: 2em;
    border: 0.3em solid rgb(27, 34, 249);
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(27, 34, 249);
    width: 0%;
}

