body {
    color: #fff;
}

#highScoresList {
    list-style: none;
    margin-bottom: 2em;
}

.high-score {
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

.fa-home {
    color: #fff;
}

h5 {
    font-size: 3em;
    padding: .5em;
}